[user]
	name = Czarsiak
	email = czarek6000@interia.pl
	mail = czarek6000@interia.pl
[credential]
	helper = manager
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[core]
	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
